---
---

$darkest: #161616;
$medium: #666;
$light: #777;
$lightest: #999;

@import "reset";
@import "fonts";
@import "pygments";

$mainfont: "Open Sans";
$headingfont: "Open Sans";
$monofont: "Source Code Pro";
$creepyfont: "Dark Garden";

body {
    margin: 20px;

    background: $darkest;
    color: $lightest;

    font-size: 16px;
    font-family: $mainfont;
    line-height: 1.7em;
}

main, footer {
    display: block;
    margin-top: 80px;
    max-width: 650px;
}

main.blog {
    max-width: 1200px;
}

.skip-nav {
    position: absolute;
    top: -40px;
    &:focus {
        top: 0px;
    }
}

.description {
    margin-bottom: 30px;
}

.checklist {
    aside {
        margin: 10px 0px 25px 0px;
        padding: 20px 10px 20px 30px;

        &:before {
            content: none;
        }

        .aside-content {
            padding: 5px 20px 0px 0px;
        }

        h3 {
            font-style: normal;
            text-transform: uppercase;
            font-weight: bold;
            color: $lightest + #222;
            font-size: 16px;
            background: #444;
            border: none;

            display: table-cell;
            position: relative;
            right: 30px;
            text-align: right;
            margin-bottom: 10px;

            padding: 8px 10px 8px 30px;
        }

        ul {
            margin-top: 10px;
            li {
                margin: 5px 0px;
            }
        }
    }

    ul {
        list-style-type: square;
        padding-left: 20px;

        li {
            padding-left: 10px;
            margin: 30px 0px;
        }
    }
}

.archives-toggle {
    background: none;
    background-image: url("../assets/icons/down-arrow.png");
    background-repeat: no-repeat;
    background-position: right!important;
    padding-right: 40px !important;
    border: none;
    padding-left: 0;
    width: 100%;
    text-align: left;
}

.has-svgasimg .archives-toggle {
    background-image: url("../assets/icons/down-arrow.svg");
}


.sidebar h2 {
    margin-bottom: 0!important;
}

.sidebar ul {
    margin-top: 20px;
    margin-left: 25px!important;
}

header {
    display: block;
    padding-bottom: 10px;
    margin-top: 30px;
}

.back-to-posts {
    margin-bottom: 50px;
}

#menu-toggle {
    display: none;
    background: none;
    background-image: url("../assets/icons/menu-icon.png");
    background-repeat: no-repeat;
    background-size: 7vw;
    height: 8vw;
    width: 7vw;
    border: none;
    vertical-align: middle;
}

.has-svgasimg #menu-toggle {
    background-image: url("../assets/icons/menu-icon.svg");
}


aside {
    padding: 10px 30px;
    border: 1px dashed $light;
    margin: 30px 0px;
    font-style: italic;

    &:before {
        content: "Tip";
        font-style: normal;
        text-transform: uppercase;
        font-weight: bold;
        background: #444;

        display: block;
        width: 65px;
        position: relative;
        right: 30px;
        text-align: right;

        margin-top: 10px;
        margin-bottom: 20px;
        padding: 5px 10px;
    }
}


h1, h2, h3 {
    color: $light;
    line-height: 1.5em;
}

.post-title {
    margin-bottom: 30px;
    font-size: 30px;
    text-transform: none;
    font-variant: normal;
    font-weight: normal;
    color: $medium;
    background: none;
    padding: 0;
}


h1 {
    margin-bottom: 30px;
    font-size: 30px;
    text-transform: none;
    font-variant: normal;
    font-weight: normal;
    color: #666;
    background: none;
    padding: 0;
}

h2, h1.category-heading {
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 30px;

    color: #999;
    background: #333;
    padding: 5px 15px 10px 15px;
    line-height: 1.5em;
    text-transform: lowercase;
    font-variant: small-caps;
}

h3 {
    text-transform: lowercase;
    font-variant: small-caps;
    font-weight: bold;
    padding-bottom: 10px;
    padding-left: 0;
    border-bottom: 1px solid #666;
    font-size: 28px;
    margin-top: 40px;
    color: #777;
    background: none;
}

h4 {
    color: $lightest;
    font-size: 25px;
    margin-top: 40px;
}

h4 a {
    font-size: 20px;
}

.post ol, .post ul {
    margin-top: 20px;
    margin-left: 20px;
}

ul.post-list {
    margin-left: 0;
}

li {
    margin: 10px 0px;
}

pre code {
    margin-top: 10px;
}

ol li {
    list-style-type: decimal;
}

a {
    transition-property: color, text-shadow;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;

    &:link {
        color: $lightest;
    }
    &:visited {
        color: $lightest;
    }
    &:hover {
        color: $lightest;
        text-shadow: 1px 1px 7px rgba(255,255, 255, 0.6);
    }
}

#main-nav {
    position: relative;
    display: inline-block;
    font-family: $mainfont;

    a {
        font-size: 16px;
        padding: 7px 15px;
        margin-top: 30px;
        text-transform: lowercase;

        transition-property: border-bottom;
        transition-duration: 0.15s;
        transition-timing-function: ease-in-out;

        &.current, &:hover, &.current:hover {
            border-bottom: 3px solid $medium;
        }
    }
}

#category-nav {
    margin-bottom: 30px;
    color: $light;

    p {
        display: inline-block;
        margin: 0px;
    }
    a {
        color: $lightest;
        &:hover {
            color: $lightest;
        }
        margin-left: 20px;
    }
}

#logo {
    margin-right: 40px;
    vertical-align: middle;
    display: inline-block;

    color: $light;
    font-size: 40px;

    font-family: $creepyfont;
}

.jspage {
    h1 {
        font-weight: normal;
    }

    h2 {
        margin-top: 20px;
        font-size: 25px;
        color: $lightest;
        font-weight: bold;
        margin-bottom: 40px;
    }
}

.post-title, .about h1 {
    font-family: $headingfont;
    font-size: 30px;
    font-weight: normal;
    line-height: 1.5em;

    color: $medium;
}

.about h1 {
    margin-top: 40px;
}

.post  {
    max-width: 650px;
    margin-bottom: 100px;

    article {
        margin-top: 20px;

        ul li {
            list-style-type: disc;
        }
    }

    .timestamp {
        font-size: 14px;
        color: $light;
        text-transform: lowercase;
        margin: 30px 0px;

        .readmore {
            color: $lightest;
            font-size: 16px;
        }
    }
}

code {
    font-family: $monofont;
    display: block;
    background: #222;
    border: 1px solid #333;
    border-radius: 3px;
    padding: 10px;
    font-size: 15px;
}

p code, li > code {
    margin: 0px 5px;
    padding: 0px 3px;
    display: inline;
    white-space: no-wrap;
}

.pagination {
    font-size: 14px;
}

h1.category-heading {
    margin-bottom: 40px;
}

.category-list {
    margin-bottom: 90px;

    li {
        margin: 30px 0px;
        font-size: 18px;

        > a {
            display: block;
            margin-bottom: 5px;
        }
    }
}

p {
    margin: 15px 0px;
}

.link-descrip {
    color: $light;
    margin: 0;
}

.creepy {
    font-family: $creepyfont;
    font-size: 20px;
    padding: 0px 5px;
}

.clearfix {
    clear: both;
}

.main {
    float: left;
    width: 55%;
}

.sidebar {
    width: 35%;
    max-width: 350px;

    border-left: 1px dashed $light;
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 30px;

    float: right;

    ul {
        list-style-type: square;

        li {
            padding-left: 5px;
            a {
                color: $lightest;
                text-decoration: none;
            }
        }
    }

    h2 {
        color: $medium;
        margin: 0;
        margin-bottom: 20px;
        padding: 0;
        background: none;
        text-transform: none;
        font-variant: normal;
        font-size: 25px;
        font-weight: normal;
    }
}

.pagination {
    font-size: 16px;
    padding: 10px;
    border-top: 1px dashed $light;
    //border-bottom: 1px dashed $light;

}

.prev {
    float: left;
    display: inline;
}

.pagenum {
    display: inline;
    margin-left: 35%;
    a {
        margin: 0px 10px;
        color: $light;
        text-decoration: none;
    }

    em.current {
        margin: 0px 10px;
        color: lightest;
        font-style: normal;
        text-decoration: underline;
    }
}

.next {
    float: right;
}

hr {
    margin: 60px 0px;
    border: 1px solid $medium;
}


/************************** OVERRIDE DEFAULTS *************************/

// less intense link shade for non-main-content stuff
#main-nav, footer .sitelink, .timestamp {
    a {
        color: $light;
        &.current, &:hover {
            color: $lightest;
        }
    }
}

// we don't want a text shadow or underline on those things that are (kinda) pretending not to be links
header a, .post-title-link {
    text-decoration: none;
    &:hover {
        text-shadow: none;
    }
}



@import "responsive";
